@tailwind base;
@tailwind components;
@tailwind utilities;

.imdb {
  position: absolute;
  top: 10px;
  color: #F9D100;
  background: black;
  right: 10px;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.movies-list { 
    height: calc(100vh - 3.5rem - 114px);
    overflow: auto;
}

.movie-card {
    width: 250px;
    height: 336px;
}

.select__control{
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
 
  